<ion-content class="page ion-padding-vertical" [fullscreen]="true">
  <ion-title class="page-title ion-text-center ion-margin-bottom">{{ fieldAppMessages('login_signup_pages_welcome_text') }}</ion-title>
  <div class="main ion-padding-horizontal">
    <app-deployment-info (deploymentClick)="chooseDeployment()"></app-deployment-info>
    <form class="form" novalidate [formGroup]="form" (ngSubmit)="signUp()">
      <div>
        <div class="input-group">
          <app-form-control
            label="Nombre"
            [required]="true"
            formControlName="name"
            [placeholder]="fieldAppMessages('signup_form_name_placeholder')" 
            [hint]="fieldAppMessages('signup_form_name_hint')" 
            [errors]="fieldErrorMessages(form.controls['name'], 'name')"
          >
          </app-form-control>
          <app-form-control
            type="email"
            label="Email"
            [required]="true"
            formControlName="email"
            [placeholder]="fieldAppMessages('signup_form_email_placeholder')" 
            [errors]="fieldErrorMessages(form.controls['email'], 'email')"
          >
          </app-form-control>
          <app-form-control
            type="password"
            [label]="fieldAppMessages('signup_form_password_label')" 
            [required]="true"
            [togglePassword]="true"
            formControlName="password"
            [placeholder]="fieldAppMessages('signup_form_password_placeholder')"
            [errors]="fieldErrorMessages(form.controls['password'], 'password')"
            [hint]="!form.controls['password'].value?.length ? fieldAppMessages('signup_form_password_hint') : undefined"
          >
            <app-password-strength
              additional
              *ngIf="form.controls['password'].value?.length"
              class="password-strength"
              [passwordToCheck]="form.value.password ?? ''"
            ></app-password-strength>
          </app-form-control>
        </div>
        <div class="agreement">
          <app-checkbox formControlName="agreement">
            {{ fieldAppMessages('signup_page_privacy_policy_first_part') }}
            <a (click)="openLink($event, 'Privacy Policy')">{{ fieldAppMessages('signup_page_privacy_policy_second_part') }}</a>
            {{ fieldAppMessages('signup_page_privacy_policy_third_part') }}<br />
            <a (click)="openLink($event, 'Privacy Policy')">{{ fieldAppMessages('signup_page_privacy_policy_fourth_part') }}</a>.
          </app-checkbox>
        </div>
        <ion-text *ngIf="signupError?.length" class="form-error ion-text-center" color="danger">
          {{ signupError }}
        </ion-text>
      </div>

      <div class="bottom-panel">
        <app-button
          type="submit"
          [disabled]="form.invalid || form.disabled || !form.controls['agreement'].value"
        >
          {{ fieldAppMessages('signup_page_register_button_tag') }}
        </app-button>
        <app-button class="ion-margin-top" fill="clear" color="medium" routerLink="/">
          {{ fieldAppMessages('signup_page_skip_button_tag') }}
        </app-button>
      </div>
    </form>
  </div>
</ion-content>
