<app-main-layout
  class="main"
  title="{{fieldAppMessages('information_page_title')}}"
  (back)="back()"
>
  <app-profile-photo
    class="avatar"
    [photo]="userPhoto"
    (uploadStarted)="onUploadStarted()"
    (uploadCompleted)="onUploadCompleted()"
    (photoSelected)="handlePhotoSelected($event)"
  ></app-profile-photo>

  <!-- (photoChanged)="handlePhotoChange($event)" -->
  <!-- Sample" -->

  <ion-title class="title">{{fieldAppMessages('information_page_name_title')}}</ion-title>
  <form class="information-form" novalidate [formGroup]="form" (ngSubmit)="updateUserInformation()">
    <app-form-control
      [label]="fieldAppMessages('information_page_form_name_label')"
      [required]="true"
      formControlName="realname"
      [placeholder]="fieldAppMessages('information_page_form_name_placeholder')"
      [errors]="fieldErrorMessages(form.controls['realname'], 'display_name')"
    >
    </app-form-control>
    <app-select label="Role" [options]="roleOptions" formControlName="role"> </app-select>
  </form>
  <ion-title class="title">{{fieldAppMessages('information_page_settings_title')}}</ion-title>
  <div class="profile-settings-menu">
    <ion-item
      (click)="toggleChangeEmailModal(true)"
      button
      class="profile-settings-item"
      lines="none"
    >
      <app-icon class="profile-settings-item__icon" name="email" slot="start"></app-icon>
      <div class="profile-settings-item__inner">
        {{fieldAppMessages('information_page_set_email_tag')}}
        <ion-text class="profile-settings-item__value" color="primary" *ngIf="userEmail">
          <span class="ellipsis">{{ userEmail[0] }}</span>{{ userEmail[1] }}
        </ion-text>
      </div>
      <app-icon class="profile-settings-item__details" name="arrow-right" slot="end"></app-icon>
    </ion-item>
    <ion-item
      (click)="toggleChangePasswordModal(true)"
      button
      class="profile-settings-item"
      lines="none"
    >
      <app-icon class="profile-settings-item__icon" name="lock" slot="start"></app-icon>
      <div class="profile-settings-item__inner">
        {{fieldAppMessages('information_page_set_password_tag')}}
      </div>
      <app-icon class="profile-settings-item__details" name="arrow-right" slot="end"></app-icon>
    </ion-item>
  </div>

  <ion-footer class="footer" footer>
    <ion-toolbar class="footer__toolbar">
      <ion-buttons class="form-controls-panel">
        <app-button
          expand="inline"
          type="button"
          *ngIf="form"
          [disabled]="form.disabled || (form.invalid && !isPhotoChanged) || (!form.dirty && !isPhotoChanged)"
          (buttonClick)="updateUserInformation()"
        >
          {{fieldAppMessages('information_page_default_save_changes_button_tag')}}
        </app-button>
        <app-button color="medium" fill="outline" expand="inline" (buttonClick)="back()">
          {{fieldAppMessages('information_page_default_cancel_button_tag')}}
        </app-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</app-main-layout>

<app-modal
  [isOpen]="isChangeEmailModalOpen"
  [title]="fieldAppMessages('information_page_change_email_modal_title')"
  (modalClose)="toggleChangeEmailModal(false)"
>
  <form novalidate class="modal-form" [formGroup]="changeEmailForm" (ngSubmit)="updateUserEmail()">
    <div>
      <app-form-control
        type="email"
        [label]="fieldAppMessages('information_page_change_email_modal_current_form_label')"
        [required]="true"
        formControlName="currentEmail"
        [placeholder]="fieldAppMessages('information_page_change_email_modal_current_form_placeholder')"
        [errors]="changeEmailForm.hasError('notSameAsCurrent') 
          ? [fieldAppMessages('information_page_change_email_modal_current_form_error')] : undefined"
      >
      </app-form-control>
      <app-form-control
        type="email"
        [label]="fieldAppMessages('information_page_change_email_modal_new_form_label')"
        [required]="true"
        class="no-offset"
        formControlName="newEmail"
        [placeholder]="fieldAppMessages('information_page_change_email_modal_new_form_placeholder')"
        [errors]="fieldErrorMessages(changeEmailForm.controls['newEmail'], 'email')"
      >
      </app-form-control>
      <app-form-control
        type="email"
        [label]="fieldAppMessages('information_page_change_email_modal_repeat_new_form_label')"
        [required]="true"
        formControlName="repeatEmail"
        [placeholder]="fieldAppMessages('information_page_change_email_modal_repeat_new_form_placeholder')"
        [errors]="changeEmailForm.hasError('notSame') 
          ? [fieldAppMessages('information_page_change_email_modal_repeat_new_form_error')] : undefined"
      >
      </app-form-control>
    </div>

    <ion-footer class="footer footer--modal" footer>
      <ion-toolbar class="footer__toolbar">
        <ion-buttons class="form-controls-panel">
          <app-button
            type="submit"
            [disabled]="changeEmailForm.invalid || changeEmailForm.disabled"
          >
            {{fieldAppMessages('information_page_default_save_changes_button_tag')}}
          </app-button>
          <app-button fill="outline" color="medium" (buttonClick)="toggleChangeEmailModal(false)">
            {{fieldAppMessages('information_page_default_cancel_button_tag')}}
          </app-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </form>
</app-modal>

<app-modal
  [isOpen]="isChangePasswordModalOpen"
  [title]="fieldAppMessages('information_page_change_password_modal_title')"
  (modalClose)="toggleChangePasswordModal(false)"
>
  <form
    novalidate
    class="modal-form"
    [formGroup]="changePasswordForm"
    (ngSubmit)="updateUserPassword()"
  >
    <div>
      <!-- <app-form-control
        type="password"
        label="Current password"
        [required]="true"
        formControlName="currentPassword"
        placeholder="Enter your current password"
        [disabled]="true"
        [errors]="fieldErrorMessages(changePasswordForm.controls['currentPassword'], 'currentPassword')"
      >
      </app-form-control> -->
      <app-form-control
        type="password"
        [label]="fieldAppMessages('information_page_change_password_modal_new_form_label')"
        [required]="true"
        class="no-offset"
        formControlName="newPassword"
        [placeholder]="fieldAppMessages('information_page_change_password_modal_new_form_placeholder')"
        [errors]="fieldErrorMessages(changePasswordForm.controls['newPassword'], 'newPassword')"
        [hint]="!changePasswordForm.controls['newPassword'].value?.length 
          ? fieldAppMessages('information_page_change_password_modal_new_form_hint') : undefined"
      >
        <app-password-strength
          additional
          *ngIf="changePasswordForm.controls['newPassword'].value?.length"
          class="password-strength"
          [passwordToCheck]="changePasswordForm.value.newPassword ?? ''"
        ></app-password-strength>
      </app-form-control>
      <app-form-control
        type="password"
        [label]="fieldAppMessages('information_page_change_password_modal_repeat_new_form_label')"
        [required]="true"
        formControlName="repeatPassword"
        [placeholder]="fieldAppMessages('information_page_change_password_modal_repeat_new_form_placeholder')"
        [errors]="changePasswordForm.hasError('notSame') 
          ? [fieldAppMessages('information_page_change_password_modal_repeat_new_form_error')] : undefined"
      >
      </app-form-control>
    </div>

    <ion-footer class="footer footer--modal" footer>
      <ion-toolbar class="footer__toolbar">
        <ion-buttons class="form-controls-panel">
          <app-button
            type="submit"
            [disabled]="changePasswordForm.invalid || changePasswordForm.disabled"
          >
            {{fieldAppMessages('information_page_default_save_changes_button_tag')}}
          </app-button>
          <app-button
            fill="outline"
            color="medium"
            (buttonClick)="toggleChangePasswordModal(false)"
          >
            {{fieldAppMessages('information_page_default_cancel_button_tag')}}
          </app-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </form>
</app-modal>
