<app-main-layout (back)="back()" title="{{fieldAppMessages('select_spelling_proposal_page_title')}}">

  <ion-img class="img" src="assets/images/spelling_proposal_header.png"></ion-img>

  <app-select
    [label]="fieldAppMessages('select_spelling_proposal_page_combobox_label')"
    [options]="spellingProposalsListOptions"
    [(ngModel)]="selectedSpelleingProposalOptionId"
    (ngModelChange)="selectionCallback()"
  >
  </app-select>
  <p>
    {{fieldAppMessages('select_spelling_proposal_page_content')}}
  </p>
  <p>
    <!-- Se ha seleccionado: {{selectedSpelleingProposalOptionId}} -->
  </p>
  <!-- <ion-title class="title">{{fieldAppMessages('select_spelling_proposal_page_abous_us_title')}}</ion-title>
  <ion-list class="generic-menu">
    <app-generic-menu-item
      [menuItem]="menuItem"
      *ngFor="let menuItem of aboutUsMenu"
    ></app-generic-menu-item>
  </ion-list> -->
</app-main-layout>
