<app-main-layout
  class="main"
  [isSearch]="true"
  [title]="isProfile ? 'Colección' : 'Añadir Post a Colección'"
  (back)="back.emit()"
>
  <ion-item button lines="none" class="button-add" (click)="addNewCollection()">
    <app-icon class="button-add__icon" name="add" slot="start"></app-icon>
    Crear nueva Colección
  </ion-item>

  <ion-title class="title">
    <ng-container *ngIf="!isSearchView">Colecciones</ng-container>
    <ng-container *ngIf="isSearchView">Encontradas {{ totalCollections }} colecciones</ng-container>
  </ion-title>
  <app-spinner
    class="loader"
    *ngIf="isLoading && !collections.length; else collectionsList"
  ></app-spinner>
  <ng-template #collectionsList>
    <ng-container *ngIf="collections.length; else emptyMessage">
      <app-collection-item
        *ngFor="let collection of collections"
        [collection]="collection"
        [editable]="editable"
        (collectionChanged)="collectionChanged($event, collection)"
        (editCollection)="editCollectionHandle(collection)"
        (click)="editable && showCollection(collection.id)"
      ></app-collection-item>
      <ion-infinite-scroll
        *ngIf="totalCollections > collections.length"
        (ionInfinite)="loadMoreCollections($event)"
      >
        <ion-infinite-scroll-content loadingSpinner="lines-sharp"></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ng-container>
    <ng-template #emptyMessage>
      <ion-text color="medium" class="empty-box ion-text-center ion-padding">
        ¡Aún no hay colecciones!
      </ion-text>
    </ng-template>
  </ng-template>

  <ion-footer footer class="footer" *ngIf="!isProfile">
    <ion-buttons class="footer__buttons">
      <app-button
        class="footer__button"
        (buttonClick)="updateCollections()"
        [disabled]="isPristine"
      >
        Añadir
      </app-button>
      <app-button class="footer__button" fill="outline" color="medium" (buttonClick)="back.emit()">
        Cancelar
      </app-button>
    </ion-buttons>
  </ion-footer>
</app-main-layout>

<app-modal
  [isOpen]="isAddCollectionModalOpen"
  (modalClose)="isAddCollectionModalOpen = false"
  [options]="{
    footer: true
  }"
  title="Crear Colección"
>
  <form
    class="create-collection-form"
    novalidate
    (ngSubmit)="createCollection()"
    [formGroup]="createCollectionForm"
  >
    <div class="create-collection-form__group">
      <ion-title class="create-collection-form__title">Información General</ion-title>
      <app-form-control
        label="Nombre de la colección"
        [required]="true"
        class="form-control"
        formControlName="name"
        placeholder="Introduce un nombre para la colección"
        [errors]="fieldErrorMessages(createCollectionForm.controls['name'], 'name')"
      >
      </app-form-control>
      <app-form-control
        [rows]="3"
        label="Descripción"
        class="form-control"
        formControlName="description"
        placeholder="Introduce Descripción"
      >
      </app-form-control>
    </div>
    <!-- <div class="create-collection-form__group">
      <ion-title class="create-collection-form__title">Mostrando</ion-title>
      <app-toggle type="item" formControlName="featured" (toggleChange)="featuredChange($event)"
        >Destacado</app-toggle
      >
    </div> -->
    <div class="create-collection-form__group" *ngIf="roleOptions">
      <ion-title class="create-collection-form__title">¿Quién puede ver esto?</ion-title>
      <app-group-checkbox-select [data]="roleOptions" formControlName="visible_to">
      </app-group-checkbox-select>
    </div>
    <div class="create-collection-form__group">
      <ion-title class="create-collection-form__title">Modo de visualización por defecto</ion-title>
      <app-select
        formControlName="view"
        label="Modo de visualización por defecto"
        [options]="viewingModeOptions"
      ></app-select>
    </div>
    <div class="create-collection-form__group">
      <app-toggle formControlName="is_notifications_enabled">Recivir notificaciones</app-toggle>
    </div>
  </form>

  <ion-buttons class="footer__buttons" footer>
    <app-button
      type="submit"
      class="footer__button"
      (buttonClick)="createCollection()"
      [disabled]="createCollectionForm.disabled || createCollectionForm.invalid"
    >
      Aceptar
    </app-button>
    <app-button
      class="footer__button"
      fill="outline"
      color="medium"
      (buttonClick)="close()"
      *ngIf="!collectionToEdit"
    >
      Cancelar
    </app-button>
    <app-button
      class="footer__button"
      fill="outline"
      color="danger"
      (buttonClick)="deleteCollection()"
      *ngIf="collectionToEdit"
    >
      Borrar
    </app-button>
  </ion-buttons>
</app-modal>
