<ion-content class="page ion-padding-vertical" [fullscreen]="true">
  <div class="page-head ion-padding-horizontal ion-text-center ion-margin-bottom">
    <ion-title class="page-title" *ngIf="!isPrivate; else loginToPrivateDeployment">
      {{ fieldAppMessages('login_signup_pages_welcome_text') }}
    </ion-title>
    <ng-template #loginToPrivateDeployment>
      <ion-title class="page-title">
        {{ fieldAppMessages('login_page_login_to_private_deployment_title') }}
      </ion-title>
      <ion-text class="page-head__info">
        {{ fieldAppMessages('login_page_login_to_private_deployment_head_info') }}
        <a href="mailto:{{ adminEmail }}">{{ adminEmail }}</a>
      </ion-text>
    </ng-template>
  </div>
  <div class="main ion-padding-horizontal">
    <app-deployment-info (deploymentClick)="chooseDeployment()"></app-deployment-info>
    <form class="form" novalidate [formGroup]="form" (ngSubmit)="login()">
      <div>
        <app-form-control
          type="email"
          label="Email"
          [required]="true"
          formControlName="email"
          [placeholder]="fieldAppMessages('signup_form_email_placeholder')"
          [errors]="fieldErrorMessages(form.controls['email'], 'email')"
        >
        </app-form-control>
        <app-form-control
          type="password"
          [label]="fieldAppMessages('signup_form_password_label')"
          [required]="true"
          [togglePassword]="true"
          formControlName="password"
          [placeholder]="fieldAppMessages('signup_form_password_placeholder')"
          [errors]="fieldErrorMessages(form.controls['password'], 'password')"
        >
          <div class="forgot-password-button" button>
            <app-button
              (buttonClick)="openForgotPasswordModal()"
              fill="clear"
              expand="inline"
              size="small"
            >
              {{ fieldAppMessages('login_page_forgot_password_button_tag') }}
            </app-button>
          </div>
        </app-form-control>
        <ion-text *ngIf="loginError?.length" class="form-error ion-text-center" color="danger">
          {{ loginError }}
        </ion-text>
      </div>

      <div class="bottom-panel">
        <app-button type="submit" [disabled]="form.invalid || form.disabled">
          {{ fieldAppMessages('login_page_access_button_tag') }}
        </app-button>
        <app-button
          fill="clear"
          color="medium"
          routerLink="/"
          *ngIf="!isPrivate; else cancelButton"
          class="ion-margin-top"
        >
          {{ fieldAppMessages('login_page_skip_button_tag') }}
        </app-button>
        <ng-template #cancelButton>
          <app-button
            fill="clear"
            color="medium"
            class="ion-margin-top"
            (buttonClick)="chooseDeployment()"
          >
            {{ fieldAppMessages('login_page_cancel_button_tag') }}
          </app-button>
        </ng-template>
      </div>
    </form>
  </div>
</ion-content>

<app-modal
  class="forgot-password-modal"
  [isOpen]="isForgotPasswordModalOpen"
  [title]="fieldAppMessages('login_page_forgot_password_modal_title')"
  (modalClose)="forgotPasswordModalCloseHandle()"
>
  <div class="forgot-password-modal__info">
    <ion-text class="forgot-password-modal__title"
      >{{ fieldAppMessages('login_page_forgot_password_modal_tag') }}</ion-text
    >
    <p>{{ fieldAppMessages('login_page_forgot_password_modal_content') }}</p>
  </div>
  <form
    class="forgot-password-form"
    novalidate
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="forgotPassword()"
  >
    <div>
      <app-form-control
        type="email"
        label="Email"
        [required]="true"
        formControlName="email"
        [placeholder]="fieldAppMessages('signup_form_email_placeholder')"
        [errors]="fieldErrorMessages(form.controls['email'], 'email')"
      >
      </app-form-control>
      <ion-text
        *ngIf="forgotPasswordError?.length"
        class="form-error ion-text-center"
        color="danger"
      >
        {{ forgotPasswordError }}
      </ion-text>
    </div>

    <div class="bottom-panel">
      <app-button
        type="submit"
        [disabled]="forgotPasswordForm.invalid || forgotPasswordForm.disabled"
      >
        {{ fieldAppMessages('login_page_forgot_password_modal_button_tag') }}
      </app-button>
    </div>
  </form>
</app-modal>
