<ion-content class="page ion-padding-vertical" [fullscreen]="true">
  <div class="page-head ion-padding-horizontal ion-text-center ion-margin-bottom">
    <ion-title class="page-title" *ngIf="!isPrivate; else loginToPrivateDeployment">
      ¡Te damô la biembenía!
    </ion-title>
    <ng-template #loginToPrivateDeployment>
      <ion-title class="page-title"> Âççedêh ar dêppliege pribao </ion-title>
      <ion-text class="page-head__info">
        Ar fabôh d'introduçîh tu uçuario y contraçeña pa âççedêh ar dêppliege. O contâtta al Admin
        <a href="mailto:{{ adminEmail }}">{{ adminEmail }}</a>
      </ion-text>
    </ng-template>
  </div>
  <div class="main ion-padding-horizontal">
    <app-deployment-info (deploymentClick)="chooseDeployment()"></app-deployment-info>
    <form class="form" novalidate [formGroup]="form" (ngSubmit)="login()">
      <div>
        <app-form-control
          type="email"
          label="Email"
          [required]="true"
          formControlName="email"
          placeholder="Mete tu correo elêttrónico"
          [errors]="fieldErrorMessages(form.controls['email'], 'email')"
        >
        </app-form-control>
        <app-form-control
          type="password"
          label="Contraçeña"
          [required]="true"
          [togglePassword]="true"
          formControlName="password"
          placeholder="Mete tu contraçeña"
          [errors]="fieldErrorMessages(form.controls['password'], 'password')"
        >
          <div class="forgot-password-button" button>
            <app-button
              (buttonClick)="openForgotPasswordModal()"
              fill="clear"
              expand="inline"
              size="small"
            >
              ¿Te ça orbiao la contraçeña?
            </app-button>
          </div>
        </app-form-control>
        <ion-text *ngIf="loginError?.length" class="form-error ion-text-center" color="danger">
          {{ loginError }}
        </ion-text>
      </div>

      <div class="bottom-panel">
        <app-button type="submit" [disabled]="form.invalid || form.disabled"> Âççedêh </app-button>
        <app-button
          fill="clear"
          color="medium"
          routerLink="/"
          *ngIf="!isPrivate; else cancelButton"
          class="ion-margin-top"
        >
          Çartarçe êtto de momento
        </app-button>
        <ng-template #cancelButton>
          <app-button
            fill="clear"
            color="medium"
            class="ion-margin-top"
            (buttonClick)="chooseDeployment()"
          >
            Cançelâh
          </app-button>
        </ng-template>
      </div>
    </form>
  </div>
</ion-content>

<app-modal
  class="forgot-password-modal"
  [isOpen]="isForgotPasswordModalOpen"
  title="Recuperâh Contraçeña"
  (modalClose)="forgotPasswordModalCloseHandle()"
>
  <div class="forgot-password-modal__info">
    <ion-text class="forgot-password-modal__title">¿Te çe orbió la contraçeña?</ion-text>
    <p>
      ¡No te preocupê! Mete tu correo elêttrónico y reçibirâh un correo de la plataforma Ushahidi
      con un enlaçe pa rêttableçêl-la.
    </p>
  </div>
  <form
    class="forgot-password-form"
    novalidate
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="forgotPassword()"
  >
    <div>
      <app-form-control
        type="email"
        label="Email"
        [required]="true"
        formControlName="email"
        placeholder="Mete tu correo elêttrónico"
        [errors]="fieldErrorMessages(form.controls['email'], 'email')"
      >
      </app-form-control>
      <ion-text
        *ngIf="forgotPasswordError?.length"
        class="form-error ion-text-center"
        color="danger"
      >
        {{ forgotPasswordError }}
      </ion-text>
    </div>

    <div class="bottom-panel">
      <app-button
        type="submit"
        [disabled]="forgotPasswordForm.invalid || forgotPasswordForm.disabled"
      >
        Rêttableçêh contraçeña
      </app-button>
    </div>
  </form>
</app-modal>
