<div class="location-select">
  <ion-label class="location-select__title">{{
    fieldAppMessages('location_control_component_title')
  }}</ion-label>
  <div class="location-select__map">
    <div
      leaflet
      class="map"
      tabindex="-1"
      *ngIf="isMapReady"
      [leafletLayers]="mapLayers"
      [leafletOptions]="leafletOptions"
      (leafletMapReady)="onMapReady($event)"
    ></div>
  </div>
  <ion-grid class="controls">
    <ion-row>
      <ion-col>
        <app-form-control
          [label]="fieldAppMessages('location_control_component_form_control_latitude_label')"
          [value]="location.lat.toString()"
          [readonly]="true"
        ></app-form-control>
      </ion-col>
      <ion-col>
        <app-form-control
          [label]="fieldAppMessages('location_control_component_form_control_longitude_label')"
          [value]="location.lon.toString()"
          [readonly]="true"
        ></app-form-control>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
